# Ignore Rust build artifacts
target/

# Ignore Python virtual environments and caches
.venv/
__pycache__/
*.pyc

# Ignore compiled binary libraries
*.so
*.pyd

# Ignore git history
.git/
.gitignore

# Ignore local environment files
.env